/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  height: 200px;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#movieInfo {
  margin-top: 20px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
